<ion-content [fullscreen]="true">
  <div class="h-fit min-h-full dark:bg-slate-900">
      <div class="h-full w-full">
          <div class="bg-amarillo-ppal py-12">
              <h1 class="text-center text-white font-sans font-bold text-4xl">
                  Recuperar contraseña
              </h1>
              <h2
                  class="text-center text-white font-sans font-light py-2"
                  (click)="volverInicioSesion()"
              >
                  volver
              </h2>
          </div>
          <div class="mt-10 max-w-xl m-auto">
              <form action="" class="px-10">
                  <div class="mt-2">
                      <label
                          for="email"
                          class="dark:text-white text-base font-normal"
                          >Correo electrónico</label
                      >
                      <div
                          class="flex my-3 items-center justify-between bg-zinc-100 rounded-lg"
                      >
                          <input
                              type="text"
                              name="email"
                              placeholder=""
                              id=""
                              [(ngModel)]="correo"
                              class="w-full dark:text-white dark:placeholder:text-neutral-600 dark:bg-zinc-950 px-4 bg-transparent outline-none rounded-lg"
                          />
                      </div>
                  </div>
                  <div class="relative flex items-center mt-8">
                      <div class="border h-0 w-full border-stone-300"></div>
                  </div>

                  <button
                      class="bg-amarillo-ppal rounded-lg shadow text-center text-white text-base font-semibold w-full py-3 mt-9"
                      (click)="enviarCorreoDeRecuperacion()"
                      >
                      Enviar
                  </button>
              </form>
          </div>
      </div>
  </div>
</ion-content>
